.contact {
  p {
    color: #aeb0b8bd;
    margin: 25px 0px;
    span {
      font-weight: 700;
      color: #cdd0d9bd;
    }
  }
  button {
    overflow: hidden;
    border-radius: 1.2rem;
    width: 100%;
    border: none;
    color: #aeb0b8bd;
    cursor: pointer;
    transition: scale 0.5s ease, transform 0.5s ease;
    display: flex;
    // flex-direction: column;
    gap: 12px;
    align-items: center;
    padding: 15px;
    justify-content: center;
    font-weight: 600;
    background-image: linear-gradient(142.17deg, #3086ff 6.66%, #304cfd 91.48%);
    box-shadow: inset -0.25rem -0.25rem 0.3125rem rgba(0, 0, 0, 0.1),
      inset 0.25rem 0.25rem 0.3125rem hsla(0, 0%, 100%, 0.23);
    color: #fff !important;
    fill: white !important;
  }
  button:hover {
    scale: 1.05;
    color: lightskyblue;
    transform: translate(0px, -4px);
  }

  div:last-of-type {
    display: flex;
    flex-direction: column;
  }
  input,
  textarea {
    margin-top: 30px;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    padding: 15px;
    border: none;
    flex: 1;
    color: #aeb0b8bd;
    outline: none;
    font-weight: 500;
    background-color: #242031d5;
  }
  input:focus,
  textarea:focus {
    border: 1px solid #aeb0b8bd;
    background-color: inherit;
  }
  textarea {
    resize: none;
    height: 130px;
  }
}

@media (min-width: 600px) {
  .contact {
    button {
      width: max-content !important;
      margin-left: auto;
    }
    div:last-of-type {
      flex-direction: row;
      gap: 20px;
    
    }
  }
}
